div{
  display: flex;
  justify-content: center;
}

.bouton {
  width: 40%;
  height: 40%;
  border: 2px solid black;
  padding: 10px 20px;
  background: none;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.bouton:hover {
  background: black;
  color: white;
}

.retour{
  border: 2px solid black;
  padding: 10px 20px;
  background: none;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.retour:hover {
  background: black;
  color: white;
}
