<div class="container">
  <h1>Bienvenue sur la page de gestion des terrains de pétanque de l'agglomération de Tours</h1>

  <div class="card">
    <div class="card-overlay"></div>
    <div class="card-inner">
      <h2> Terrains</h2>
      <div class="buttons">
        <button class="button" (click)="goTerrain()">Voir la liste</button>
        <button class="button" (click)="goMap()">Voir la carte</button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-overlay"></div>
    <div class="card-inner">
      <h2> Reservations</h2>
      <div class="buttons">
        <button class="button" (click)="goReserv()">Voir la liste</button>
        <button class="button" (click)="goAddReserv()">Ajouter une reservation</button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-overlay"></div>
    <div class="card-inner">
      <h2> Utilisateurs</h2>
      <div class="buttons">
        <button class="button" (click)="goUser()">Voir la liste</button>
        <button class="button" (click)="goAddUser()">Ajouter un utilisateur</button>
      </div>
    </div>
  </div>

</div>
